[Match]
Name=usb0

[Network]
Description=BMC Redfish Host Interface (RNDIS)
LinkLocalAddressing=ipv4
Address=169.254.0.17/16
DHCPServer=yes
IPv6AcceptRA=no
LLMNR=no
MulticastDNS=yes

[DHCPServer]
PoolOffset=10
PoolSize=50
DefaultLeaseTimeSec=3600
EmitRouter=no
EmitDNS=no
EmitNTP=no
