# kas / bitbake work areas and clones
/build/
/sstate-cache/
/downloads/
/.kas-work/

# kas clones upstream repos next to this file by default
/openbmc/
/meta/
/meta-openembedded/
/bitbake/

# misc
*.log
*.lock
*.swp
